name: Terraform Apply (Manual)

on:
  workflow_dispatch:

jobs:
  apply:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Apply
        run: |
          terraform apply \
            -auto-approve \
            -input=false \
            -var="db_username=${{ secrets.TF_VAR_DB_USERNAME }}" \
            -var="db_password=${{ secrets.TF_VAR_DB_PASSWORD }}"

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --region ${{ secrets.AWS_REGION }} \
            --name $(terraform output -raw eks_cluster_name)
      - name: Show Terraform Outputs
        run: terraform output
