name: Terraform Destroy (Manual)

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - run: terraform init -input=false \
              -var="db_username=${{ secrets.TF_VAR_DB_USERNAME }}" \
              -var="db_password=${{ secrets.TF_VAR_DB_PASSWORD }}"

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
