grafana:
  image:
    repository: grafana/grafana
    tag: 10.2.3
  replicas: 1

  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/grafana"
      serve_from_sub_path: true

prometheus:
  prometheusSpec:
    storageSpec: {}

alertmanager:
  alertmanagerSpec:
    storage: {}

